sudo: false

language: node_js

os:
  - linux
  - osx

node_js:
  - 12
  - 10
  - 8
  - 6
  - 4

script:
  # Avoid linting on older node
  - |
    nodever=$(node --version | cut -d. -f1)
    if [[ $nodever == v12 ]]; then
      npm run test
    else
      node ./bin/cli.js
    fi
